<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Submit a new Restaurant</title>
    <link rel="icon" href="/static/Images/amongus.png" type="image/x-icon">
    <!--FIXME: External CSS file not working-->
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .form {
            background-color: white;
            border-style: solid;
            border-width: medium;
            border-color: black;
            border-radius: 5px;
            padding: 10px;
        }

        body{
            background-color: lightblue;
        }

        h1 {
            color: darkred;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Enter Your Data</h1>
    <div class="form">
        <form method="post">
            {% csrf_token %}
            <!-- Manually render each form field... -->
            <p>{{ form.name.label_tag }} {{ form.name }}</p>
            <p>{{ form.address.label_tag }} {{ form.address }}</p>
            <p>{{ form.phone_number.label_tag }} {{ form.phone_number }}</p>
            <p>{{ form.website.label_tag }} {{ form.website }}</p>
            <!-- Manually render menu_items as checkboxes -->
            <p>{{ form.menu_items.label_tag }}</p>
            {% for choice in form.menu_items.field.queryset %}
                <label>
                    <input type="checkbox" name="{{ form.menu_items.html_name }}" value="{{ choice.pk }}">
                    {{ choice }}
                </label><br>
            {% endfor %}
            <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
