body{
    background-color: whitesmoke;
    /*padding-top: 40px;*/
    /*!*display: flex;*!*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar{
    width: 100%; /* Occupy full width */
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    border-bottom: 2px solid #000000;
    /*padding-top: 20px;*/
    z-index: 999;
}

.navbar ul{
    list-style-type: none;
    justify-content: space-evenly;
    color: #000000;
    font-weight: bold;
    margin: 0;
    padding-right: 200px;
    overflow: hidden;
    align-items: center;
    width: 100%;
    display: flex;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding-top: 2px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 15%);
}

.navbar li{
    float: right;
}

h1{
    text-align: center;
    color: white;
}

/*This is where the title should be*/
header{
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 20px;
    height: 180px;
    text-align: center;
}

header .title{
    font-size: 48px; /* Adjust the font size as needed */
    font-weight: bold;
}

header .icon-cart{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: -15px;
    margin-left: 75%;
    z-index: 1005;
    color: white;
}

header .icon-cart:hover{
    cursor: pointer;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 1005;
}

/*.container{*/
/*    width: 900px;*/
/*    max-width: 90vw;*/
/*    height: 550px;*/
/*    background-position: center;*/
/*    !*border: 5px solid black;*!*/
/*    !*!*border-radius: 10px;*!*/
/*    !*overflow: hidden;*!*/
/*    margin: 0 0;*/
/*    padding-top: 20px;*/

/*    position: relative;*/
/*    align-items: stretch;*/
/*}*/

/*.container img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/

/*    transition: opacity 0.3s ease;*/
/*    display: block;*/
/*}*/

/*.container img:hover {*/
/*    box-shadow: 0 0 20px rgba(0,0,0,0.5);*/
/*    opacity: 0.7;*/
/*}*/

/* CHECKOUT MODAL (pop-up window) */
.checkout-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-checkout-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Max width for larger screens */
}

.close-modal,
.close-modal-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus,
.close-modal-popup:hover,
.close-modal-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.zebra-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.zebra-list div:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping */
}

.zebra-list div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.total-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-footer button {
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-footer button:hover {
    background-color: #8b5e00;
}
/* END CHECKOUT MODAL */

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.listProduct .item img{
    margin: auto;
    border-radius: 10%;
    width: 170px;
    height: 170px; 
    object-fit: cover;
    background-color: #9b9999cc;
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: #d6d6d6ab;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.listProduct .item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.listProduct .item .foodName{
    font-weight: bold;
    font-size: large;
    margin: auto;
    padding: 5px 0; /* Add padding for spacing */
    line-height: 1.2; /*Adjust line-height for vertical centering */
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

/* foodPrice */
.listProduct .item .foodPrice {
    margin-bottom: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listProduct .item .foodDescription{
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.listProduct .item .price{
    letter-spacing: 3px;
    font-size: small;
    margin-top: auto;
}

.listProduct .item button{
    background-color: goldenrod;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    /*margin-top: 10px;*/
    border: none;
    cursor: pointer;
    align-self: center;
}

.listProduct .item button:hover{
    background-color: hsl(0, 0%, 20%);
}

svg{
    width: 30px;
}

.cartTab{
    width: 400px;
    background-color: #fff; /* Lighter background for better contrast */
    color: #333; /* Darker text for readability */
    position: fixed;
    inset: 0 -400px 0 auto;
    display: flex;
    flex-direction: column; /* Simplify layout with flexbox */
    transition: transform .2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    z-index: 1000; /* Ensure it stays above other elements */
}


body.showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translate(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: bold;
    background-color: #9b9999cc;
    border-bottom: 5px solid black;
}

.cartTab .btn{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: space-between; /* Better alignment */
    padding: 15px 20px;
    border: 1px solid #ddd; /* Add top border for separation */
}

.cartTab .btn button{
    background-color: goldenrod; /* Distinct color for buttons */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cartTab .btn button:hover{
    background-color: rgb(246, 176, 0); /* Distinct color for buttons */
}

.cartTab .btn .checkOut {
    background-color: rgb(34, 179, 34);
}

.cartTab .btn .checkOut:hover{
    background-color: rgb(39, 227, 26); /* Distinct color for buttons */
}

.cartTab .btn .close{
    /* background-color: #eee; */
    background-color: rgba(187, 51, 51, 0.692); /* Light background for contrast */
    color: #fff; /* Darker text for readability */
}

.cartTab .btn .close:hover{
    background-color: rgb(233, 31, 31); /* Distinct color for buttons */
}

.cartTab .listCart {
    overflow-y: auto; /* Allow scrolling for long lists */
    padding: 5px;
    flex-grow: 1; /* Take up remaining space */
}

.cartTab .listCart .item img{
    grid-area: image;
    width: 90px;
    height: 90px;
    border-radius: 5px; /* Rounded corners for images */
    object-fit: cover; /* Maintain aspect ratio */
    margin: 10px 10px;
}

/* Total Price in Cart */
.totalPriceAllItems {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    color: #030c1f;
    border-top: 1px solid #ddd;
    margin-top: 10px; 
    max-width: 100%;
    font-weight: bold;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-areas:
        "title image"
        "buttons price";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ddd; /* Add bottom border for separation */
    border-radius: 5px;
    margin-bottom: 10px;
}

.listCart .item .quantity {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 4px 25px;
}

.listCart .item .name {
    grid-area: title;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
}

.listCart .quantity span{
    width: 20px;
    height: auto;
    color: goldenrod;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
}

/* To style the input field in shopping cart*/
.listCart .quantity input[type="number"] {
    width: 50px; /* Adjust width as needed */
    font-size: 14px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 10px 10px;
}

.listCart .item .totalPrice {
    grid-area: price;
    text-align: right;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: auto;
}

/* Remove arrows from number input in all browsers */
.listCart .quantity input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: textfield; /* Standard syntax */
    margin: 0; /* Removes default margin */
}

/* Removes spinners for input[type="number"] in Chrome, Safari, Edge, and Opera */
.listCart .quantity input[type="number"]::-webkit-outer-spin-button,
.listCart .quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.listCart .totalPrice {
    margin-left: 10px; /* Add space between the quantity and the price */
}

.listCart .item:nth-child(even){
    background-color: #f2f2f2;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.menu-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.accordion-button:hover{
    background-color: green;
}

.image-wrapper {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.logo{
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1001; /* Ensure the logo is above other elements*/
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 992px){
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px){
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}